@page "{handler?}"
@model DZPract13_06_2024.Pages.SessionsModel
@{
	ViewData["Title"] = "Расписание сеансов";
}
<h1>@ViewData["Title"]</h1>
<form method="get">
	<label>Поиск фильма</label>
	<input type="text" name="searchString" />
	<input type="submit" asp-page-handler="Search" value="Поиск" />
</form>
@foreach (var movie in Model.Movies)
{
	<h2>@movie.Name</h2>
	<ul>
		@foreach (var session in movie.Sessions)
		{
			<li>@session</li>
		}
		<li><a asp-page="/EditMovie" asp-route-name="@movie.Name">Редактировать</a></li>
		<li><button class="delete-button" asp-page-handler="Delete" data-name="@movie.Name">Удалить</button></li>
	</ul>

}
<br />
<a asp-page="/EditMovie">Добавить фильм</a>

<div id="confirmDelete" class="confirm">
	<div class="confirm-content"> 
		<p>Вы уверены?</p>
		<button id="confirmYes">Да</button>
		<button id="confirmNo">Нет</button>
	</div>
</div>

	